<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta charset="utf-8">
    <title>Login page</title>
    <style>
        body{
            margin-top: 10%;
            margin-bottom: 10%;
            margin-left:25%;
            margin-right:25%;
            background-color: aqua;
            padding :1%;
            border : 2px solid black;
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>Welcome to BPWAD!</h2>
    <form method="post" action="patient/information/">
        {% csrf_token %}
        {{form}}
        <button type="submit", name="Submit">Log In</button>
    </form>
    <br>
    <h3>Don't have an account yet?</h3>
    <p>Make one and Protect yourself Today!</p>
    <input type="button" onclick="window.location.href='signup'" value="Sign Up"/>
    <br><br><br>
    <a href="test">Temporary Test Link to User Panel</a>
</body>

</html>