<html>
    <head>
        <title>Patient Information</title>
    </head>
    {% csrf_token %}
     <h1>Information for {{ patient.firstName }}</h1>
     <ul>
         <li>First Name: {{ patient.firstName }}</li>
         <li>Last Name: {{ patient.lastName }}</li>
         <li>Email: {{ patient.email }}</li>
         <li>Patient Address: {{ patient.address }}</li>
         <li>{{ patient.firstName }}'s allergies: {{ patient.allergies }}</li>
         <li>User Name: {{ patient.patientUserName }}</li>
     </ul>
     <a href="../{{ patient.id }}/panel">Panel</a>
</html>